name: maru-final

networks:
  linea:
    driver: bridge
    ipam:
      config:
        - subnet: 11.11.11.0/24

services:
  initialization:
    image: busybox:latest
    container_name: init_final
    environment:
      CREATE_EMPTY_BLOCKS: true
    entrypoint: [ "sh","/initialization/init.sh" ]
    volumes:
      - ./initialization/:/initialization:rw
    networks: [linea]

  sequencer:
    depends_on:
      initialization:
        condition: service_completed_successfully
    image: hyperledger/besu:25.8.0
    container_name: sequencer
    healthcheck:
      test: [ "CMD-SHELL", "bash -c \"[ -f /tmp/pid ]\"" ]
      interval: 1s
      timeout: 1s
      retries: 120
    environment:
      LOG4J_CONFIGURATION_FILE: /var/lib/besu/log4j.xml
      JAVA_OPTS: -Xmx512m -XX:+UnlockExperimentalVMOptions -XX:+UseZGC
    entrypoint:
      - /bin/bash
      - -c
      - |
        /opt/besu/bin/besu --config-file=/var/lib/besu/config.toml \
        --genesis-file=/initialization/genesis-besu.json \
        --node-private-key-file="/var/lib/besu/key" \
        --engine-jwt-secret=/jwt/jwt.hex \
        --Xplugins-external-enabled=false
    volumes:
      - ./sequencer/config.toml:/var/lib/besu/config.toml:ro
      - ./sequencer/log4j.xml:/var/lib/besu/log4j.xml:ro
      - ./sequencer/key:/var/lib/besu/key:ro
      - ./initialization/:/initialization/:ro
      - ./jwt:/jwt:ro
    ports:
      - "8545:8545"
      - "8550:8550"
      - "8551:8551"
      - "30303:30303"
    networks:
      linea:
        ipv4_address: 11.11.11.101

  rollup-boost:
    image: flashbots/rollup-boost:latest
    container_name: rollup-boost
    depends_on:
      sequencer:
        condition: service_healthy
    command:
      - --l2-jwt-path=/jwt/jwt.hex
      - --l2-url=http://sequencer:8550
      - --builder-jwt-path=/jwt/jwt.hex
      - --builder-url=http://sequencer:8550
      - --rpc-host=0.0.0.0
      - --rpc-port=8552
      - --log-level=debug
      - --tracing
    volumes:
      - ./jwt:/jwt:ro
    ports:
      - "8552:8552"     # Rollup-Boost Engine API proxy
    networks: [linea]

  maru:
    image: consensys/maru:ba3e263
    container_name: maru
    depends_on:
      - sequencer
      - rollup-boost
    command: [ 'java', '-Dlog4j2.configurationFile=configs/log4j.xml', '-jar', "maru.jar", '--maru-genesis-file', 'configs/genesis.json', '--config', 'configs/config.dev.toml']
    volumes:
      - ./maru/config.dev.toml:/opt/consensys/maru/configs/config.dev.toml:ro
      - ./maru/log4j.xml:/opt/consensys/maru/configs/log4j.xml:ro
      - ./initialization/genesis-maru.json:/opt/consensys/maru/configs/genesis.json:ro
      - ./maru/0x1b9abeec3215d8ade8a33607f2cf0f4f60e5f0d0.key:/tmp/maru-db/private-key
    ports:
      - "8080:8080"
    networks: [linea]
